<div class="flex flex-col items-center gap-4">
    <ul class="flex items-center gap-6">
        <li>
            <a href="{{ url_for('index') }}" class="uppercase font-medium hover:text-cyan-600 {{ 'text-cyan-600' if request.endpoint == 'index' or request.endpoint == 'project'}}">Projets</a>
        </li>
        <li>
            <a href="{{ url_for('contact') }}" class="uppercase font-medium hover:text-cyan-600 {{ 'text-cyan-600' if request.endpoint == 'contact' }}">Contact</a>
        </li>
        <li>
            <a href="https://github.com/codewithmpia" target="_blank" class="uppercase font-medium hover:text-cyan-600">Github</a>
        </li>
    </ul>
    <p class="text-sm text-center">Copyright &copy; 2025 <a href="{{ url_for('index') }}">codewithmpia</a>. Tous droits reservés.</p>
</div>